<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% for(key in usuarios){ %>
        <p><%= usuarios[key].nome %></p>
    <% } %>

    <% for(key in chamados){ %>
        <p><%= chamados[key].descricao %></p>        
    <% } %>

</body>
</html>